.photo_user {
	background-color: #d5d5d6;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.btn_save_profile {
	margin: 10px 0;
    background: #31944b;
    color: #fff;
    font-weight: bold!important;
}

.btn_delete_profile {
	margin: 10px 0;
    background: #d20b0b;
    color: #fff;
    font-weight: bold!important;
}