
        
        <link rel="stylesheet" href="add_news_style.css">
        
            <div class="row base_element">
                <div class="col-md">
                    <div class="col-md-12 title_card">Додати новину</div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <form action="" method="post" class='form_for_news'>
                                                    <textarea name="text_news" class="text_news" placeholder="Введiть новину"></textarea>
                                                    <input type="submit" class="btn_news" value="SEND">
                                                </form>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">

                                                    <div class="col-md-12 my_news">
                                                        <div class="col-md-12">
                                                            <div class="time_news">12.03.18</div>
                                                        </div>
                                                        <div class="text_news">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi sapiente nobis numquam nostrum hic, temporibus molestias ut.</div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-12"></div>
                                        </div>
                                    </div>
                            </div>

                <div class="col-md line_separete">
                    <div class="col-md-12 title_card title_card_left">Ласкаво просимо Артем</div>
                    <div class="container">
                        <ol class="list_menu_user">
                            <li><a href="#">Мої повідомлення</a></li>
                            <li><a href="#">Мої новини</a></li>
                            <li><a href="#">Інформація про мене</a></li>
                            <li><a href="#">Редагувати профіль</a></li>
                            <li><a href="#">Добавити новину</a></li>
                            <li><a href="#">Знайти співрозмовника</a></li>
                            <li><a href="#">Анонімний чат</a></li>
                            <li><a href="#">Вихід</a></li>
                        </ol>
                    </div>
                </div>
            </div>