 <div class="row base_element">
                <div class="col-md">
                    <div class="col-md-12 title_card">Невдала спроба входу, спробуйте знову</div>
                    <form action="" method="post" class="form_begin">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">+380</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">password</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
                            </div>
                            <div class="col-md text-center">
                                <input type="submit" class="btn btn-dark btn-sm" value="Войти">
                            </div>
                        </form>
                        
                    </div>

                <div class="col-md line_separete">
                    <div class="col-md-12 title_card title_card_left">Увійдіть для подальшого спілкування</div>
                    <form action="" method="post" class="form_begin">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">@</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="nickname" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">+38</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="(XXX)-XXX-XX-XX" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">password</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="password" required>
                        </div>
                        <div class="col-md text-center">
                            <input type="submit" class="btn btn-primary btn-sm" value="Зарегистрироваться">
                        </div>
                    </form>
                </div>
            </div>