
        <link rel="stylesheet" href="my_news_style.css">

<div class="row base_element">
                <div class="col-md">
                    
                    <div class="col-md-12 title_card">Мої новини</div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">

                                        <div class="col-md-12 my_news">
                                            <div class="col-md-12">
                                                <div class="time_news">12.03.18</div>
                                            </div>
                                            <div class="text_news">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi sapiente nobis numquam nostrum hic, temporibus molestias ut.</div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12"></div>
                            </div>
                        </div>
                        
                    </div>

                <div class="col-md line_separete">
                    {% include 'my_user.html' %}
                </div>
            </div>