<div class="col-md-12 title_card title_card_left">Ласкаво просимо '{{ user_name }}'</div>
                    <div class="container">
                        <ol class="list_menu_user">
                            <li><a href="#">Знайти співрозмовника</a></li>
                            <li><a href="update_my_profile">Редагувати профіль</a></li>
                            <li><a href="show_my_profile/">Інформація про мене</a></li>
                            <li><a href="#">Мої повідомлення</a></li>
                            <li><a href="#">Додати новину</a></li>
                            <li><a href="#">Анонімний чат</a></li>
                            <li><a href="#">Мої новини</a></li>
                            <li><a href="/logout_profile/">Вихід</a></li>
                        </ol>
                    </div>