<div class="col-md-12 title_card title_card_left">Ласкаво просимо '{{ user_name }}'</div>
                    <div class="container">
                        <ol class="list_menu_user">
                            <a href="/search_interlocutor/">Знайти співрозмовника</a>
                            <a href="/update_my_profile/">Редагувати профіль</a>
                            <a href="/show_my_profile/">Інформація про мене</a>
                            <!--<a href="#">Мої повідомлення</a>-->
                            <a href="/add_news/">Додати новину</a>
                            <!--<a href="#">Анонімний чат</a>-->
                            <a href="/my_news/">Мої новини</a>
                            <a href="/logout_profile/">Вихід</a>
                        </ol>
                    </div>