
        <link rel="stylesheet" href="search_people_style.css">
            <div class="row base_element">
                <div class="col-md">
                    <div class="col-md-12 title_card">Пошук співрозмовника</div>
                    <div class="container">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="user_card">
                                    <div class="col-md-12">
                                        <span class="img_user">Ч</span>
                                    </div>
                                    <div class="col-md-12">
                                        <span class="goal_user">Секс</span>
                                    </div>
                                    <a class="btn btn-primary btn-sm" href="#" role="button">Відвідати</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                                    
                </div>

                <div class="col-md line_separete">
                    {% include 'my_user.html' %}
                </div>
            </div>